

<div class="well">
	<form action="/register" method="POST">	
		<div class="form-group">	
			<label for > Please enter your name </label>
			<input class="form-control" type="text" name="name" placeholder="Enter Name">
			
		</div>
		<button class="btn btn-primary" >Play!</button> 
	</form>
</div>

